* {
  box-sizing: border-box;

  scroll-behavior: smooth;
  transition: all 0.4s ease-in-out;
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

html {
  background-color: $bc-color;

  font-family: 'Roboto-Regular';
  font-style: 16px;
  color: $main-color;
}

.main-container {
  padding: 0 16px;
  
  @include onTablet {
  min-width: 640px;
  padding: 0 8px;
  }
  
  @include onDesktop {
    margin: 0 auto;
    min-width: 1200px;
    padding: 0 32px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0;
  }
}
