* {
  box-sizing: border-box;
}

@font-face {
  font-family: Regular, sans-serif;
  src: url('../fonts/Roboto-Regular.ttf');
  
  font-family: Medium, sans-serif;
  src: url('../fonts/Roboto-Medium.ttf');

  font-family: Bold, sans-serif;
  src: url('../fonts/Roboto-Bold.ttf');
}

html {
  background-color: $bc-color;

  font-family: Regular;
  font-style: 16px;
  color: $main-color;
}

#root {
  background-color: #000;
}

.main-container {
  padding: 0 16px;
  
  @include onTablet {
  min-width: 640px;
  padding: 0 8px;
  }
  
  @include onDesktop {
    margin: 0 auto;
    min-width: 1200px;
    padding: 0 32px;
  }
}
