.header {
  margin-bottom: 60px;

  background-image: url('../../images/bc_header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include onDesktop {
    margin-bottom: 120px;
  }

  &__top {
    @include top-actions;
    margin-bottom: 20vh;
  }

  &__content {
    display: block;

    height: 100vh;
    padding: 18px 0 50vh;

    @include onDesktop {
      padding-bottom: 203px;
    }
  }

  &__nav-icons {
    display: flex;
    align-items: center;
  }

  &__title {
    text-align: center;

    font-size: 36px;
    line-height: 100%;
    font-family: Roboto-Bold;

    color: $brown;
    margin-bottom: 64px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}
