.header {
  margin-bottom: 60px;

  background-image: url('https://img.freepik.com/free-vector/cat-lover-pattern-background-design_53876-100662.jpg?w=996&t=st=1679506247~exp=1679506847~hmac=22f4f1d7e49a0865b9e989c22d884cabf19627b9ae0d16e45574caf934a2b749');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__top {
    @include top-actions;
    margin-bottom: 20vh;
  }

  &__content {
    display: block;

    height: 100vh;
    padding: 18px 0 50vh;

    @include onDesktop {
      padding-bottom: 203px;
    }
  }

  &__nav-icons {
    display: flex;
    align-items: center;
  }

  &__title {
    text-align: center;

    font-size: 36px;
    line-height: 100%;
    font-family: Roboto-Bold;

    color: $brown;
    margin-bottom: 64px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}
